{% extends 'base.html' %}

{% block main %}


<div class="container text-center">
  <h1 class="jumbotron-heading">Really update your Username/Key?</h1>
  <div class="container">
    <form action="update-id" method="POST">
      <label for="uid">Retrieval ID</label>
      <input type="text" name="newuid" id="newuid" value="{{newuid}}" required>
      <label for="secret">Retrieval Key</label>
      <input type="text" name="newsecret" id="newsecret" value="{{secret}}" required>
      <button class="btn btn-primary btn-lg" type="submit">Yes, really.</button>
    </form>
  </div>
</div>

{% endblock %}